@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Dosis', sans-serif;
  background-image: url(https://wallpaperaccess.com/full/230418.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-size: 22px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

.btn {
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 10px;
  margin: 10px;
  outline: transparent;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover {
  color: black;
  background: white;
  border-color: black;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding-top: 30px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  font-size: 26px;
  text-transform: uppercase;
  color: white;
}
.lorem-form {
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 18px;
  color: black;
}
input {
  padding: 5px;
  width: 50px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
button {
  background: black;
}
.result {
  margin-bottom: 2rem;
}

@media screen and (min-width: 480px) {
  h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
}
